
<div class="">
  <div class="row">
    <div class="col-md-12">
      <!-- <h1> {{ title }} </h1> -->
      <!-- <nav>
        <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">Gallery</a></li>
           <li><a href="#">Contact Us</a></li>
        </ul>
    </nav> -->
      <!-- <hr/> -->
      <!-- <app-servers></app-servers> -->
      <!-- <div app-server></div> -->
      <!-- <div class = "app-server"></div> -->
      <!-- <app-tugas></app-tugas> -->
      <!-- <app-tugas3></app-tugas3> -->
      <!-- <app-week5></app-week5> -->
      <app-kuis1></app-kuis1>


    </div>
  </div>
</div>
